<div class="card shadow mb-4">
    <div class="card-header py-3">
       <h6 class="m-0 font-weight-bold text-primary">Plugins</h6>
    </div>
	<div class="table-responsive">
		<table class="table table-striped table-bordered" id="dTPlugin" cellspacing="0">
			   <tr>
					<th scope="col">Id</th>
					<th scope="col">Name</th>
					<th scope="col">Description</th>
					<th scope="col" style="width:100px;">Status</th>
					<th scope="col" style="width:100px;">&nbsp;</th>
				</tr>
				<repeat group="{{ @plugins }}" key="{{ @key }}" value="{{ @plugin }}" counter="{{ @i }}">
					{~ @tmpId = @plugins[@i-1]['Id'] ~}
					{~ @tmpStatus = @plugins[@i-1]['is_active'] ~}
					<tr>
						<th>{{ @tmpId }}</th>
						<td>{{ @plugins[@i-1]['baseClass'] }}</td>
						<td>{{ @plugins[@i-1]['description'] }}</td>
						
						<check if="@tmpStatus">
							<true>
								<th class="plugin-{{ @tmpId }}-status-text">Active</th>
								<th>
									<button type="button" data-plugin="{{ @tmpId }}" rel-status="{{ @tmpStatus }}" 
									class="btn btn-sm btn-secondary">
										Deactivate
									</button>
								</th>
							</true>
							<false>
								<th class="plugin-{{ @tmpId }}-status-text">Inactive</th>
								<th>
									<button type="button" data-plugin="{{ @tmpId }}" rel-status="{{ @tmpStatus }}" 
									class="btn btn-sm btn-success">
										Activate
									</button>
								</th>
							</false>
						</check>
					</tr>
				</repeat>
		</table>
	</div>
</div>
<div>
	{{ @asdff }} little spiders
</div>